/* General setting */
* {
  box-sizing: border-box;
  text-decoration: none;
  color: #808080;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  max-width: 1200px;
  margin: auto;
}

li {
  list-style: none;
}

/* Header */
.header {
  flex-direction: column;
  align-items: center;
  background: url("assets/header.jpg") no-repeat fixed 50% 70%;
  height: 389px;
  width: 100%;
  margin: auto;
  position: relative;
}

/* Navbar */
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex: 1;
  padding: 50px 20px;
}

.nav__logo {
  height: 60px;
  width: 60px;
}

.nav__list {
  display: flex;
  flex-grow: 1.5;
  justify-content: space-between;
  margin: 0 10vw;
  padding: 0;
}

.nav__item a {
  transition: all 0.5s ease-in-out;
}
.nav__item:hover a {
  color: rgba(249, 138, 97, 0.5);
}

/* Navbar Socials */
.facebook {
  margin-right: 10px;
}

@media only screen 
  and (max-width: 640px)
 {
    .nav {
      flex-direction: column;
    }
    .nav__logo {
      margin-bottom: 20px;
    }
    .nav__list  {
      flex-grow: initial !important;
      margin-bottom: 20px;
      width: 100%;
    }
}

/* Hero */
.hero {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  height: 120px;
  width: 90vw;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__text {
  font-size: 24px;
  color: rgba(249, 138, 97, 0.5);
  text-align: center;
}

/* Mid section */
.container {
  margin: 10px 0;
  justify-content: center;
  display: flex;
  height: fit-content;
}

@media only screen 
  and (max-width: 1024px) {
    .container {
      flex-direction: column;
    }
}

/* Mid section Article section */

.article {
  height: 100%;
  background: #D8D7D7;
  padding: 10px;
  flex-basis: 0;
  flex-grow: 2.5;
}

.article__container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.article__container .article__block:first-child {
  margin-right: 10px;
}

.article__block {
  width: 100%;
}

.article__elem {
  padding: 10px;
  margin-bottom: 20px;
  background: #F4F1F1;
}

.article__elem-photo {
  height: 200px;
  position: relative;
}

.bg-1 {
  background: url("assets/sakura.jpg") no-repeat 50% 70%;
  background-size: cover;
}

.bg-2 {
  background: url("assets/fuji.jpg") no-repeat 50% 70%;
  background-size: cover;
}

.bg-3 {
  background: url("assets/comida.jpg") no-repeat 50% 70%;
  background-size: cover;
}

.bg-4 {
  background: url("assets/noche.jpg") no-repeat 50% 70%;
  background-size: cover;
}

.article__elem-date {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #eedaac;
  margin: 5px;
}

.article__elem-title {
  background: #F08080;
  width: 100%;
  padding: 10px 0 0 5px;
  color: white;
}

.article__elem-text {
  columns: 150px auto;
}

.article__elem-link {
  margin: 0;
  cursor: pointer;
}

.article__footer-text {
  text-align: center;
  color: black;
  margin: 0;
}


@media only screen 
  and (max-width: 640px)
 {
  .article__container {
    flex-direction: column;
  }
 }

/* Mid section Column section */
.column {
  background: #D8D7D7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  padding: 30px 10px;
  text-align: center;
  flex-basis: 0;
  flex-grow: 0.7;
}

.column * {
  color: black;
}

.column__title {
  margin: 0;
}
@media only screen 
  and (max-width: 1024px) {
    .column {
      margin-left: 0px;
      margin-top: 20px;
    }
}


.column div:not(:last-child) {
  margin-bottom: 10px !important;
}


/* Footer */

.footer {
  background: #D8D7D7;
}

.footer__elem {
  background: #F4F1F1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 0 10px;
}