/* General setting */
* {
  box-sizing: border-box;
  text-decoration: none;
  color: #808080;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  max-width: 1200px;
  margin: auto;
}

li {
  list-style: none;
}

/* Header */
.header {
  flex-direction: column;
  align-items: center;
  background: url("assets/header.jpg") no-repeat fixed 50% 70%;
  height: 389px;
  width: 100%;
  margin: auto;
  position: relative;
}

/* Navbar */
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex: 1;
  padding: 50px 20px;
}

.nav__logo {
  height: 60px;
  width: 60px;
}

.nav__list {
  display: flex;
  flex-grow: 1.5;
  justify-content: space-between;
  margin: 0 10vw;
  padding: 0;
}

.nav__item a {
  transition: all 0.5s ease-in-out;
}
.nav__item:hover a {
  color: rgba(249, 138, 97, 0.5);
}

/* Navbar Socials */
.facebook {
  margin-right: 10px;
}

@media only screen 
  and (max-width: 640px)
 {
    .nav {
      flex-direction: column;
    }
    .nav__logo {
      margin-bottom: 20px;
    }
    .nav__list  {
      flex-grow: initial !important;
      margin-bottom: 20px;
      width: 100%;
    }
}

/* Hero */
.hero {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  height: 120px;
  width: 90vw;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__text {
  font-size: 24px;
  color: rgba(249, 138, 97, 0.5);
  text-align: center;
}

/* Mid section */
.container {
  justify-content: center;
  display: flex;
  height: fit-content;
}

@media only screen 
  and (max-width: 1024px) {
    .container {
      flex-direction: column;
      background: yellow;
    }
}

/* Mid section Article section */

.article {
  height: 100%;
  background: #44465E;
  flex-grow: 3;
  padding: 30px;
}

.article__container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.article__container .article__block:first-child {
  margin-right: 10px;
}

.article__block {
  width: 100%;
}

.article__elem {
  height: 20px;
  margin-bottom: 20px;
}

.article__footer {
  height: 20px;
}

.article__elem--light {
  background: #6399BB;
}

.article__elem--dark {
  background: #1664A4;
}

@media only screen 
  and (max-width: 640px)
 {
  .article {
    background: #0a506f;
  }
  .article__container {
    flex-direction: column;
  }
  .article__elem--dark {
    background: #62959C !important;
  }
  .article__elem--light {
    background: #A3DDCB !important;
  }
 }

/* Mid section Column section */
.column {
  background: #F94C47;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  padding: 30px;
}

@media only screen 
  and (max-width: 1024px) {
    .column {
      margin-left: 0px;
      margin-top: 20px;
    }
}

@media only screen 
  and (max-width: 640px)
 {
    .column {
      background: #FD7B54;
    }
}


.column__elem {
  background: #FFE380;
  height: 20px;
}

@media only screen 
  and (max-width: 640px)
   {
    .column__elem {
      background: #FDB36B;
    }
}

.column div:not(:last-child) {
  margin-bottom: 10px !important;
}


/* Footer */

.footer__elem {
  width: 100%;
  background: #E4A434;
  display: flex;
  align-items: center;
  justify-content: space-around;;
  padding: 10px;
}